#sliding-popup {
  display: block;
  margin: 0;
  padding: 0px;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
}
.sliding-popup-bottom {
  background: url('../images/gradient.png') center center scroll repeat-y transparent;
  position: fixed;
}

.sliding-popup-top {
  background-color: #000;
  position: relative;
}

#sliding-popup .popup-content {
  background-color: transparent;
  border: 0 none;
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 1076px;
}

#sliding-popup .popup-content #popup-buttons {
  float: right;
  margin: 10px 50px 10px 0;
}

#sliding-popup .popup-content #popup-buttons button {
  display: table-cell;
  margin-right: 5px;
  vertical-align: middle;
}

#sliding-popup .popup-content #popup-text {
  color: #fff;
  float: left;
  font-weight: bold;
  margin: 5px 0 5px 50px;
  text-align: left;
  width: 600px;
}

#sliding-popup .popup-content #popup-text h2,
#sliding-popup .popup-content #popup-text p {
  color: #fff;
  display: block;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 5px 0;
}

#sliding-popup .popup-content #popup-text p {
  font-size: 12px;
}
