#sliding-popup {
  background: url('../images/gradient.png') center center scroll repeat-y transparent;
  display: block;
  margin: 0;
  padding: 0px;
  position: fixed;
  right: 0;
  text-align: center;
  width: 100%;
  z-index: 99999;
}

#sliding-popup .popup-content {
  display: inline-block;
  margin: 0 auto;
  width: 1076px;
}

#sliding-popup .popup-content #popup-buttons {
  float: right;
  margin: 15px 50px 15px 0;
}

#sliding-popup .popup-content #popup-buttons button {
  display: table-cell;
  margin-right: 5px;
  vertical-align: middle;
}

#sliding-popup .popup-content #popup-text {
  color: #fff;
  float: left;  
  font-weight: bold;
  margin: 10px 0px 10px 50px;
  text-align: left;
  width: 600px;
}



#sliding-popup .popup-content #popup-text h2 {
  margin: 0 0 5px 0;
  font-size: 16px;
  font-weight: bold;
  display: block;
  color: #fff;
}

#sliding-popup .popup-content #popup-text p {
  margin: 0;
  font-size: 12px;
  display: block;
  font-weight: bold;
  color: #fff;
}
