#sliding-popup {
  display: block;
  right: 0;
  margin: 0;
  padding: 10px; 
  position: fixed;
  width: 100%;
  z-index: 99999;
  background: url('../images/transparent.png') right top repeat;
}

#sliding-popup .popup-content {
  color: #ccc;
  display: block; 
  width: 100%; 
  overflow: auto;  
}

#sliding-popup .popup-content p, #sliding-popup .popup-content h2 { 
  display: block;
}

#sliding-popup .popup-content #popup-buttons{
  text-align: right;
}

#sliding-popup .popup-content #popup-buttons button {
  display: inline;
}
